*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
  font-family: "Lucida Grande";
  background-color: black;
}
  nav{
  position: fixed;
  margin-top: 0px;
  /* border: 2px solid orange; */
  background-color: black;
  color: white;
  width: 100%;
  }

  li{
    /* border: 2px solid red; */
    position: relative;
    /* margin-right: auto; */
    /* margin-left: auto; */
    font-size: 35px;
    font-family: "Lucida Grande";
    /* left: 500px; */
    padding-left: 40px;
    display: inline;
    /* margin: 0 25px; */
  }

  a:link{
    color: white;
  }
  a:visited {
    color: white;
  }
